/* ========================================================
*
* Author: Isaac Lyatuu
* CSS File for JPhiego Migration Work
*
* ======================================================== */

body {
	font: 75%/1em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}
#results {
    padding: 5px;
    border: 1px solid black;
    width: 700px;
    height: 250px;
    overflow-y: auto;
    
}
#results p{
	line-height: 1.5;
}

#results p.error{
	color: red;
}
#page_container {
	margin-top: 10px;
	margin-left: 10px;
}
#loading{
	width:15px;
	height:15px;
	float:right;
	margin-right:1010px;
}